export AZURE_SUBSCRIPTION_ID=<fill your own subscription id>
export AZURE_CLIENT_ID=<fill your own client id>
export AZURE_SECRET=<fill your own client secret>
export AZURE_TENANT=<fill your own tenant id>
